<h1>My Albums</h1>

<%#= link_to "New Album", new_album_path %>

	<% if @albums != [] %>
	<% @albums.each do |album| %>

<div class="row">
		<div class="albname col-md-2"><a href="<%= album_url(album) %>"><%= album.title %></a>
		</div>
		<div class="col-md-8">
			<div class="arb">
			<% album.images[0..4].each do |image| %>
			<%= image_tag image.ig_url, :class => "thumb" %>
	
			<% end %>
			</div>
		</div>
		<div class="col-md-2"><%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
</div>
	<% end %>
<% end %>
