<h1>Albums#index</h1>
<p>Find me in app/views/albums/index.html.erb</p>

<%#= link_to "New Album", new_album_path %>

<% if @albums != [] %>
	<ul>
		<% @albums.each do |album| %>
			<li><%= link_to album.title, album_path(album) %> | <%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		<% end %>
	</ul>
<% end %>