<h1>Searches#index</h1>

<%= form_tag searches_path, :method => "post", :class=>"form-inline", :id=>"validateForm" do %>
	<%=text_field_tag 'search', nil, :placeholder => 'HASHTAG',:class=>"span10"%>
	<%= button_tag(:type => 'submit', :class => 'btn btn-primary') do %>
		<i class="icon-search icon-large" style="color:white"></i>
	<% end %>
<% end %>

<%= link_to (session[:access_token] ? 'You are logged in' : 'Login with Instagram'), controller: 'sessions', action: 'connect' %>
<!-- NEED TO CLEAN THIS UP -->