// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.my_albums {
  padding-top: 80px;
  padding-bottom: 20px;
  width: 200px;
  margin: 0 auto;
  text-align: left;

  color: #283849;
}

.albname {
  font-size: 110%;
  margin-top: 20px;
  padding:0;
}
.a_title {
  right: 0;
  margin: 0;
  font-size: 1.2em;
  
}
.albname .a_title {
 margin-left: 0;
 padding-left: 0;
}

#middle_col {
  margin-top: 20px;
  margin-bottom: 20px;
  padding:0;
  opacity: 1;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition:opacity 0.3s ease-in-out;
}

#middle_col:hover {
  opacity: 0.5;
  -moz-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition:opacity 0.4s ease-in-out;
  //color: #2d525d;

}

.thumb {
  width: 15%;
  height: 100%;
}
.trash {
  top: 25px;
  font-size: 150%;
}

a.trash {
  padding-top: 0px
}

.field {
  width: 300px;
  margin: 0 auto;
  border-radius: 30px;
  text-align: center;
  color: #283849;
}

.actions {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.edit_label_field {
  font-size: 25px;
}

.edit_field {
  text-align: center;
  font-weight: bold;
}

.edit_submit {
  border: 2px solid #f15d5b;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #f15d5b;
  font-weight: bold;
  opacity: 1;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  color: #2d525d;
}

.edit_submit:hover {
  text-decoration: none;
  opacity: 0.7;
  color: #2d525d;
}

.middlething {
  margin-top: 200px;
}
/*-------------------------------
          EDIT PAGE
-------------------------------*/

.editbtn {
  width: 100px;
  margin: 0 auto;
  text-align: center;
}

/*-------------------------------
          MEDIA QUERIES
-------------------------------*/

@media(max-width: 820px) {

  // input#search.form-control.nav_text{
  //   width: 272px;
  //   font-size: 13px;
  // }


  // img#user_avatar {
  //   font-size: 13px;
  //   width: 35px;
  //   height: 35px;
  //   margin-top:8px;
  // }
 
}

@media (max-width: 767px) {
  .navbar-form {
    //margin: 0;
  }

  .navbar-form .form-group {
  margin-bottom: 5px;
  float: left;

  }

  .navbar-form button.btn.btn-default {
    margin-left: 8px;

  }
    img#user_avatar {
    font-size: 13px;
    width: 35px;
    height: 35px;
    margin-top:8px;
    float:left;
  }
  p.navbar-text-dropdown-toggle {
    margin-right:20px;
  }
  li.dropdown {
    margin-left: 30px;
  }
}
